{% load static %}
<div class="container border">
    <div class="row">
        <div class="col-12">
            <br>
            {% if contest.user == request.user and contest.round == "qualify" %}
                        <a href="{% url "customer:cn_edit_contest" contest.id "step_1" %}" class="step-link"><span><i class="fas fa-edit"></i>  Edit Brief</span></a>
            {% endif %}
            <br><br>


            <h5 class="text-muted">Target Audience</h5>
            <p>{{ contest.form_fields.contest_detail }}</p>
            {% if   contest.form_fields.web_pages %}
            <br>


            {% endif %}
            <br>
            {% if contest.form_fields.current_website %}
            <h5 class="text-muted">Current Website</h5>
            <p>
                {{contest.form_fields.current_website}}

            </p>
            <br>
            {% endif %}
            <h5 class="text-muted">Who is your audience?</h5>
            <p>
                {{contest.form_fields.audience}}

            </p>
            <br>
            <h5 class="text-muted">Competitors</h5>
            <p>
                {{contest.form_fields.competitors}}

            </p>
            <br>
            <h5 class="text-muted">Are there any words creatives should NOT use?</h5>
            <p>
                {{contest.form_fields.not_use}}

            </p>
            <br>
            <h5 class="text-muted">Describe your company's tone and voice.</h5>
            <p>
                {{contest.form_fields.tone_and_voice}}

            </p>
            <br>
            {% if contest.form_fields.contest_info %}
            <h5 class="text-muted">Additional info</h5>
                <p>{{ contest.form_fields.contest_info }}</p>
            <br>
            {% endif %}



            <h5 class="text-muted">Industry</h5>
            <p>{{ contest.form_fields.contest_industry }}</p>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h4 class="text-muted">Style</h4>
            <br>

            <div class="form-group">
                <label for="customRange3">Classic</label>
                <label for="customRange3" class="float-right">Modern</label>
                {% if  contest.form_fields.classic_modern %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.classic_modern }}" min="0" max="6" step="0.5"
                           id="classic_modern">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0" value="3" min="0" max="6" step="0.5"
                           id="classic_modern">

                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Mature</label>
                <label for="customRange3" class="float-right">Youthful</label>
                {% if  contest.form_fields.mature_youthful %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.mature_youthful }}" min="0" max="6" step="0.5"
                           id="mature_youthful">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0" value="3" min="0" max="6" step="0.5"
                           id="mature_youthful">

                {% endif %}
            </div>

            <div class="form-group">
                <label for="customRange3">Femine</label>
                <label for="customRange3" class="float-right">Masculine</label>
                {% if  contest.form_fields.femine_masculine %}

                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.femine_masculine }}" min="0" max="6" step="0.5"
                           id="femine_masculine">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="femine_masculine">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Playful</label>
                <label for="customRange3" class="float-right">Sophisticated</label>
                {% if  contest.form_fields.playful_sophisticated %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.playful_sophisticated }}" min="0" max="6" step="0.5"
                           id="playful_sophisticated">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="playful_sophisticated">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Economical</label>
                <label for="customRange3" class="float-right">Luxurious</label>
                {% if  contest.form_fields.economical_luxurious %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.economical_luxurious }}" min="0" max="6" step="0.5"
                           id="economical_luxurious">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.economical_luxurious }}" min="0" max="6" step="0.5"
                           id="economical_luxurious">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Geometric</label>
                <label for="customRange3" class="float-right">Organic</label>
                {% if  contest.form_fields.geometric_organic %}

                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.geometric_organic }}" min="0" max="6" step="0.5"
                           id="geometric_organic">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="geometric_organic">
                {% endif %}

            </div>

            <div class="form-group">
                <label for="customRange3">Abstract</label>
                <label for="customRange3" class="float-right">Literal</label>
                {% if  contest.form_fields.abstract_literal %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.abstract_literal }}" min="0" max="6" step="0.5"
                           id="abstract_literal">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="abstract_literal">
                {% endif %}


            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12">

                <h5 class="text-muted">Attachments</h5>

            {% for attachment in contest.attachments.all %}
            <div class="border mt-4 mb-4">
              <div class="row m-1 ">

                   <div class="col-2 p-3">

                      <img src="{{attachment.get_image}}" class="img-responsive border pre-im" width="120" height="120" alt="">

                  </div>
                  <div class="col-10 pt-3 pb-3 pl-3">
                      <div class="border p-3" style="max-height:150px;height:100%;overflow-y:auto">




                          {{ attachment.content }}

                      </div>
                  </div>


              </div>
            </div>

            {% endfor %}


        </div>
    </div>
<h4 class="text-muted">Do you require a specific URL?</h4>
<ul>
   {% for url in contest.form_fields.selected_urls %}
        <li>{{ url }}</li>
    {% endfor %}
</ul>
    <br>

</div>



