{% load static %}
<div class="container border">
    <div class="row">
        <div class="col-12">
            <br>
            {% if contest.user == request.user and contest.round == "qualify" %}
                        <a href="{% url "customer:td_edit_contest" contest.id "step_1" %}" class="step-link"><span><i class="fas fa-edit"></i>  Edit Brief</span></a>
            {% endif %}
            <br><br>

            <h5 class="text-muted">Target Audience</h5>
            <p>{{ contest.form_fields.contest_detail }}</p>
            <br>

            <h5 class="text-muted">Who will wear/use the shirt?</h5>
            <p>
            <ul>
            {% for foo in contest.form_fields.who_use %}
                <li>{{ foo }}</li>
                {% endfor %}
        </ul>



            </p>
            <br>
            <h5 class="text-muted">Where on the shirt should the design appear?</h5>
            <p>
                <ul>
           {% for position in contest.form_fields.selected_positions %}
                <li>{{ position }}</li>
                {% endfor %}
        </ul>

            </p>
            <br>

            <h5 class="text-muted">Which styles of illustration do you prefer?</h5>
            <p>
                  <ul>
           {% for illustration in contest.form_fields.illustration %}
                <li>{{ illustration }}</li>
                {% endfor %}
        </ul>
            </p>
            <br>


            <h5 class="text-muted">What content should be included?</h5>
            <p>{{ contest.form_fields.content_included }}</p>
            <br>


            {% if contest.form_fields.contest_info %}
            <h5 class="text-muted">Additional info</h5>
                <p>{{ contest.form_fields.contest_info }}</p>
            <br>
            {% endif %}



            <h5 class="text-muted">Industry</h5>
            <p>{{ contest.form_fields.contest_industry }}</p>
            <br><br>

        <h5 class="text-muted">Include a logo?</h5>
            <p>{{ contest.form_fields.logo_in_it }}</p>
            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-12 ">
            <h4 class="text-muted">Style</h4>
            <br>

            <div class="form-group">
                <label for="customRange3">Classic</label>
                <label for="customRange3" class="float-right">Modern</label>
                {% if  contest.form_fields.classic_modern %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.classic_modern }}" min="0" max="6" step="0.5"
                           id="classic_modern">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0" value="3" min="0" max="6" step="0.5"
                           id="classic_modern">

                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Mature</label>
                <label for="customRange3" class="float-right">Youthful</label>
                {% if  contest.form_fields.mature_youthful %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.mature_youthful }}" min="0" max="6" step="0.5"
                           id="mature_youthful">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0" value="3" min="0" max="6" step="0.5"
                           id="mature_youthful">

                {% endif %}
            </div>

            <div class="form-group">
                <label for="customRange3">Femine</label>
                <label for="customRange3" class="float-right">Masculine</label>
                {% if  contest.form_fields.femine_masculine %}

                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.femine_masculine }}" min="0" max="6" step="0.5"
                           id="femine_masculine">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="femine_masculine">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Playful</label>
                <label for="customRange3" class="float-right">Sophisticated</label>
                {% if  contest.form_fields.playful_sophisticated %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.playful_sophisticated }}" min="0" max="6" step="0.5"
                           id="playful_sophisticated">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="playful_sophisticated">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Economical</label>
                <label for="customRange3" class="float-right">Luxurious</label>
                {% if  contest.form_fields.economical_luxurious %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.economical_luxurious }}" min="0" max="6" step="0.5"
                           id="economical_luxurious">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.economical_luxurious }}" min="0" max="6" step="0.5"
                           id="economical_luxurious">
                {% endif %}
            </div>


            <div class="form-group">
                <label for="customRange3">Geometric</label>
                <label for="customRange3" class="float-right">Organic</label>
                {% if  contest.form_fields.geometric_organic %}

                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.geometric_organic }}" min="0" max="6" step="0.5"
                           id="geometric_organic">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="geometric_organic">
                {% endif %}

            </div>

            <div class="form-group">
                <label for="customRange3">Abstract</label>
                <label for="customRange3" class="float-right">Literal</label>
                {% if  contest.form_fields.abstract_literal %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="{{ contest.form_fields.abstract_literal }}" min="0" max="6" step="0.5"
                           id="abstract_literal">
                {% else %}
                    <input disabled type="range" class="custom-range mt-0"
                           value="3" min="0" max="6" step="0.5"
                           id="abstract_literal">
                {% endif %}


            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12">


            {% for attachment in contest.attachments.all %}
                                <h5 class="text-muted">Attachments</h5>

            <div class="border mt-4 mb-4">
              <div class="row m-1 ">

                   <div class="col-2 p-3">

                      <img src="{{attachment.get_image}}" class="img-responsive border pre-im" width="120" height="120" alt="">

                  </div>
                  <div class="col-10 pt-3 pb-3 pl-3">
                      <div class="border p-3" style="max-height:150px;height:100%;overflow-y:auto">




                          {{ attachment.content }}

                      </div>
                  </div>


              </div>
            </div>

            {% endfor %}

        </div>
    </div>
<h4 class="text-muted">Selected Fonts</h4>
<ul>
   {% for font in contest.form_fields.selected_fonts %}
    <li>{% if font == "sans_serif" %}Sans-Serif{% endif %}
    {% if font == "serif" %}Serif{% endif %}
    {% if font == "block_serif" %}Block Serif{% endif %}
    {% if font == "script" %}Script{% endif %}
    {% if font == "mono" %}Mono{% endif %}
    {% if font == "no_preference" %}No Preference{% endif %} </li>
    {% endfor %}
</ul>

</div>



