<style>


</style>
<div class="container">
    <div class="row row-cols-4 mt-4">
        <div class="col-md-6 col-lg-3 mb-4">
        <h5>Company</h5>
        <ul class="list-unstyled f_list">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Testimonials</a></li>
        </ul>
        </div>
    <div class="col-md-6 col-lg-3 mb-4">
    <h5>Get a design</h5>
    <ul class="list-unstyled f_list">
        <li><a href="#">Logo design</a></li>
        <li><a href="#">Business card</a></li>
        <li><a href="#">Web page design</a></li>
        <li><a href="#">T-shirt design</a></li>
        <li><a href="#">Book cover design</a></li>
        <li><a href="#">Browse all categories</a></li>
    </ul>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
    <h5>Design services</h5>
    <ul class="list-unstyled f_list">
        <li><a href="#">Design contests</a></li>
        <li><a href="#">1-to-1 Projects</a></li>
        <li><a href="#">Find a designer</a></li>
        <li><a href="#">Discover inspiration</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Software Development</a></li>
    </ul>
    </div>
<div class="col-md-6 col-lg-3 mb-4">
    <h5>Resources</h5>
    <ul class="list-unstyled f_list">
        <li><a href="#">Graphic Designers</a></li>
        <li><a href="#">Awarded Designs</a></li>
        <li><a href="#">Logo Ideas</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</div>
</div>
</div>
</div>

<div class="footer_bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-7">
                <p class="mb-0 f_400">© zignative. All rights reserved.</p>
            </div>
            <div class="col-lg-6 col-sm-5 text-right">
                <p><a href="#">Privacy Policy</a> &nbsp;<a href="#">User Agreement </a></p>
            </div>
        </div>
    </div>
</div>
