{% extends "user/layout.html" %}
{% load static %}
{% block head %}
    <style>
    .errorlist{
        color:red
    }
    </style>
        <title>Reset Password | Zignative</title>

{% endblock %}
{% block body %}
<div class="container">
<div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Enter new Password</h1>
            </div>

          </div>
            {% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-{% if message.tags == "error" %}danger {% else %}{{ message.tags }} {% endif %} " role="alert">
            {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            {% endif %}
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-lg btn-block  justify-content-end" type="submit">Reset Password</button>

            </form>
        </div>
      </div>


</div>

    <script>
    var password = document.getElementById("id_new_password1")
    var confirm_password = document.getElementById("id_new_password2");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}