{% extends "customer/layout.html" %}
{% load static %}
{% load designer_filters %}
{% load crispy_forms_tags %}

{% block head %}
<title>Signed Ndas | Zignative </title>
<style src="{% static "dashboard/css/account.css" %}"></style>
{% endblock %}

{% block body %}

    <div class="container-fluid ml-5">
        <div class="main-body mt-5 col-11">
            <h2>Your Non-Disclosure Agreements</h2> <br> <br>
            <hr>
            {% for nda in ndas %}
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-2">
                        <img src="{{ nda.contest.user.profile.get_photo }}" class="img-responsive rounded-circle" width="75" height="75" alt="">
                    </div>
                    <div class="col-10 pt-1">
                        <p>Agreement between '{{ nda.contest.user }}' and yourself</p>
                        <span class="text-muted">{{ nda.created_date }}</span>
                    </div>
                    </div>

                </div>

                <div class="col-2"><button class="btn btn-light" style="margin-top:15px" data-toggle="modal" data-target="#nda-modal">Show NDA</button></div>
            </div>
            <hr>
            {% endfor %}

            {% if not ndas %}
            <p class="text-center">You don't have an Non-Disclosure Agreement you signed yet.</p>
            {% endif %}

        </div>
    </div>



<div class="modal fade bd-example-modal-lg" id="nda-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Non-Disclosure Agreement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4>Standard Non-disclosure Agreement</h4>

    <p>
        This Nondisclosure Agreement (the "Agreement") is entered into by and between _______________ ("Disclosing Party") on Sun,
        28 Mar 2021 17:22:49 +0000 and _______________ ("Receiving Party") on Sun, 28 Mar 2021 17:22:49 +0000 for the purpose of preventing the unauthorized disclosure of Confidential Information as defined below. The parties agree to enter into a confidential relationship with respect
        to the disclosure of certain proprietary and confidential information ("Confidential Information").
    </p>

    <p>
        <h5>1. Definition of Confidential Information</h5>
For purposes of this Agreement, "Confidential Information" shall include all information or material that has or could have commercial
        value or other utility in the business in which Disclosing Party is engaged.

    </p>
<p>
    <h5>2. Exclusions from Confidential Information</h5>
    Receiving Party's obligations under this Agreement do not extend to information that is:
    <ul>
        <li>publicly known at the time of disclosure or subsequently becomes publicly known through no fault of the Receiving Party;</li>
        <li>discovered or created by the Receiving Party before disclosure by Disclosing Party;</li>
        <li>learned by the Receiving Party through legitimate means other than from the Disclosing Party or Disclosing Party's representatives; or</li>
        <li>is disclosed by Receiving Party with Disclosing Party's prior written approval</li>
    </ul>
</p>

<p>
    <h5>3. Obligations of Receiving Party</h5>
    Receiving Party shall hold and maintain the Confidential Information in strictest confidence for the sole and exclusive benefit of the Disclosing Party. Receiving Party shall not, without prior written approval of Disclosing Party, use for Receiving Party's own benefit, publish, copy, or otherwise disclose to others, or permit the use by others for their benefit or to the detriment of Disclosing Party, any Confidential Information.
</p>

<p>
    <h5>4. Time Periods</h5>
    The nondisclosure provisions of this Agreement shall survive the termination of this Agreement and Receiving Party's duty to hold Confidential Information in confidence shall remain in effect until the Confidential Information no longer qualifies as a trade secret or until Disclosing Party sends Receiving Party written notice releasing Receiving Party from this Agreement, whichever occurs first.
</p>

<p>
    <h5>5. Relationships</h5>
    Nothing contained in this Agreement shall be deemed to constitute either party a partner, joint venturer or employee of the other party for any purpose.
</p>

<p>
    <h5>6. Severability</h5>
    If a court finds any provision of this Agreement invalid or unenforceable, the remainder of this Agreement shall be interpreted so as best to effect the intent of the parties.
</p>

<p>
    <h5>7. Integration</h5>
    This Agreement expresses the complete understanding of the parties with respect to the subject matter and supersedes all prior proposals, agreements, representations, and understandings. This Agreement may not be amended except in a writing signed by both parties.
</p>

<p>
    <h5>8. Waiver</h5>
    The failure to exercise any right provided in this Agreement shall not be a waiver of prior or subsequent rights.
This Agreement and each party's obligations shall be binding on the representatives, assigns, and successors of such party. Each party has signed this Agreement through its authorized representative.
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}